/* ******************************* */
/*  Where styles shared by all pages go
/*  
/* ******************************* */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

input[type=submit]:hover {
    cursor: pointer;
}